---
import { Image } from "astro:assets";
import idleMenuBackdrop from "@/assets/backdrops/idlemenu.gif";
import bergboteText from "@/assets/bergbote_nologo.gif"



---
<a style={{overflow: "hidden"}} href="/discovery">
    <Image
            src={idleMenuBackdrop}
            style={{minWidth: "100%"}}
            alt="Bergbote"
            class="top-0 start-0 w-full object-contain"
    />
    <Image
            src={bergboteText}
            style={{width: "100%", top: "0px", position: "absolute"}}
            alt="Bergbote"
            class="top start-0 w-full object-contain"
    />
    
    


</div>