---
import {
    Card,
    CardContent,
    CardDescription,
    CardFooter,
    CardHeader,
    CardTitle,
} from "@/components/ui/card";
import { articlesTable } from "@/db/schema";

type Article = typeof articlesTable.$inferSelect;

interface Props {
    article: Article;
}

const { article } = Astro.props;
---

<a href={article.articleLink} target="_blank">
    <Card className="w-96">
        <CardHeader>
            <CardTitle>{article.title}</CardTitle>
            <CardDescription>
                <img
                    src={"data:image/png;base64," + article.source}
                    alt="Provider Image"
                    class="h-[1.2em] object-contain"
                />
                {
                    article.createdAt?.toLocaleString("de-AT", {
                        dateStyle: "full",
                        timeStyle: "short",
                    })
                }
            </CardDescription>
        </CardHeader>
    </Card>
</a>
