---
import {
    Card,
    CardContent,
    CardDescription,
    CardFooter,
    CardHeader,
    CardTitle,
} from "@/components/ui/card";
import { articlesTable } from "@/db/schema";
import redBook from "@/assets/books/red.png";
import { Image } from "astro:assets";
type Article = typeof articlesTable.$inferSelect;

interface Props {
    article: Article;
}

const { article } = Astro.props;
---

<a href={article.articleLink} class="top start-0 w-full object-contain" target="_blank" style={{width:"90%", margin:"10px", marginBottom:"-300px"}}>
    <Image 
        src={redBook} 
        alt="Book"  />
    <CardTitle style={{position: "relative", top:"-160px", margin:"40px", marginBottom:"-70px",marginRight:"20px", maxWidth:"460px"}}>{article.title}</CardTitle>
    <CardDescription style={{position: "relative", top:"-120px", margin:"40px", marginBottom:"-120px"}}>
        <img
            src={"data:image/png;base64," + article.source}
            alt="Provider Image"
            class="h-[1.2em] object-contain bg-white p-1 rounded-full"
        />
        {
            article.createdAt?.toLocaleString("de-AT", {
                dateStyle: "full",
                timeStyle: "short",
            })
        }
    </CardDescription>
</a>
