---
import { articlesTable } from "@/db/schema";
import redBook from "@/assets/books/red.png";
import { Image } from "astro:assets";
type Article = typeof articlesTable.$inferSelect;

interface Props {
    article: Article;
}

const { article } = Astro.props;
---

<a
    href={article.articleLink}
    class="top-0 left-0 relative aspect-[4/1] w-full max-h-48 inline-block"
    target="_blank"
    data-astro-prefetch
>
    <Image
        src={redBook}
        alt="Book"
        class="absolute left-0 top-0 w-full h-full object-contain object-left-top z-[-1]"
    />
    <div
        class="py-[3%] pl-[5%] pr-[7%] text-2xl aspect-[4/1] max-w-full max-h-full"
    >
        <img
            src={"data:image/png;base64," + article.source}
            alt="Provider Image"
            class="h-[0.8em] sm:h-[1em] object-contain bg-white p-1 rounded"
        />
        <h3 class="leading-5 text-[0.8em] sm:text-[1em]">{article.title}</h3>
        <p class="leading-3 text-[0.7em] text-[#bbb]">
            {
                article.createdAt?.toLocaleString("de-AT", {
                    dateStyle: "full",
                    timeStyle: "short",
                })
            }
        </p>
    </div>
</a>
