---
import { db } from "@/db";
import { articlesTable, topicsTable } from "@/db/schema";
import { sql } from "drizzle-orm";
import ArticleCard from "./ArticleCard.astro";

type Topic = typeof topicsTable.$inferSelect;

interface Props {
    topic: Topic;
}

const { topic } = Astro.props;

const articles = await db
    .select()
    .from(articlesTable)
    .where(sql`${articlesTable.topic} = ${topic.id}`);
---

<div>
    <h2 class="text-3xl font-bold m-1">{topic.name}</h2>
    <div class="flex-wrap flex gap-2">
        {articles.map((article) => <ArticleCard article={article} />)}
    </div>
</div>
