---
import Icon from "./Icon.astro";

interface Props {
    href: string;
    icon: string;
    main?: boolean;
}

const { href, icon, main = false } = Astro.props;

const activeUrl = Astro.url.pathname;
---

<a
    href={href}
    data-astro-prefetch
    class={"p-1 px-3 flex justify-around rounded" +
        (activeUrl.startsWith(href) ? " bg-[#ffffff1e]" : "") +
        (main ? " basis-[25%]" : " basis-[18%]")}
>
    <Icon i={icon} class="h-full" />
</a>
